* {
    box-sizing: border-box;
}

body {
    cursor: url(./images/cursor.png), default;
    background-color: #c0c86d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.bg {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hole {
    background: black;
    border-radius: 50%;
    overflow: visible;
    width: 267px;
    height: 267px;
}

.hole-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mole {
    position: relative;
    right: 30px;
}

.hungry {
    cursor: url(./images/cursor-worm.png), pointer;
}

.gone {
    display: none;
}

.worm {
    width: 1660px;
}

.worm-container {
    width: 5%;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.worm-box {
    width: 1660px;
}

.win {
    max-width: 80vw;
    max-height: 80vh;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.timer {
    color: #6e0e19;
    font-family: serif;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 1rem;
}